### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
/cover
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Generic stuff:
*.log

# Sphinx documentation
docs/_build/

# dotenv
.env

# virtualenv
env/
env*/

### Editors / IDE
# IntelliJ project files
.idea
*.iml
out
gen

.DS_Store

# Visual Studio Code
.vscode

### Project specific
/dedicated
/tmp
/*.db

# local settings, apps etc.
/settings/
/apps/
!/apps/__init__.py
/pyplanet/apps/local
/logs/
/pyplanet.log
/pyplanet.pid
