language: python

dist: xenial
sudo: required

python:
  - 3.6
  - 3.7
  - 3.8

cache:
  directories:
    - $HOME/.cache/pip

services:
  - mysql
  - postgresql

env:
  global:
    - secure: nzhTQtPHI2pgoFhyW943aEsw2qOmljMhKDIaGiHiEWuV0QwM2RQDqq4p/WDc1i1Ce3XRsjApqwIIoT0M+h9PHPJnk6s8EGsdac5hzR40F9WWx679sMMB+O15PSp4TXGIOdfEOnAsYKefWSKLjjfkcj5rhvYJS098k5x/Ft3ufyzCOQ7iRaGDKC3tPEefgOf/hsCHP8jLpReyPSf8269OFVWdmKVVIwk81MnUr45iCGM9SJCRS+SCZ3pYwH3/KXnTEbV40Vzgl5GxL8Gz2AMi7KUKKoRN8TxT36+u7J66QcCnV3DQ0o8psu8Qh9cttt/EpRGCBFps0ShJA4AKs+wfDXrZuURBRKTJyDTcaXp7+xP0bbN2z/4TS893JNoCPGR76Uvu9K19qwLISI2SvjyEXPI3kEpbUN8I7ljptK33+MgP1Yjuu+CYoOWSnnr0KbwBG/uedxEVnlAISTnuhTHYSOyQg85o2nN5jOyBY1bz6WL2Cc5CVAePhASKXBmvfQDzm8gdi0gAOQuArCoA3+f6ubjkN2nTvALqdqcmW71dKOC1trjMgbAf4O3recnxisW5vho4L2K/wyTjHFJlZBAfG+5blXwbkdDtBDVqeo6MuMWkKNN/NKSQ1hequ7vMUyYulfgdR8KvT4NeTCxd0H7jk86hUKf9QvTNazHvgICe1Us=
  matrix:
    # Unit tests.
    - TOXENV=py36-unit-mysql
    - TOXENV=py36-unit-postgresql
    - TOXENV=py37-unit-mysql
    - TOXENV=py37-unit-postgresql
    - TOXENV=py38-unit-mysql
    - TOXENV=py38-unit-postgresql

    # Integration tests.
    - TOXENV=py36-integration-mysql
    - TOXENV=py37-integration-mysql
    - TOXENV=py38-integration-mysql

matrix:
  exclude:
    - python: 3.6
      env: TOXENV=py37-unit-mysql
    - python: 3.6
      env: TOXENV=py37-unit-postgresql
    - python: 3.6
      env: TOXENV=py37-integration-mysql
    - python: 3.6
      env: TOXENV=py37-integration-postgresql
    - python: 3.6
      env: TOXENV=py38-unit-mysql
    - python: 3.6
      env: TOXENV=py38-unit-postgresql
    - python: 3.6
      env: TOXENV=py38-integration-mysql
    - python: 3.6
      env: TOXENV=py38-integration-postgresql

    - python: 3.7
      env: TOXENV=py36-unit-mysql
    - python: 3.7
      env: TOXENV=py36-unit-postgresql
    - python: 3.7
      env: TOXENV=py36-integration-mysql
    - python: 3.7
      env: TOXENV=py36-integration-postgresql
    - python: 3.7
      env: TOXENV=py38-unit-mysql
    - python: 3.7
      env: TOXENV=py38-unit-postgresql
    - python: 3.7
      env: TOXENV=py38-integration-mysql
    - python: 3.7
      env: TOXENV=py38-integration-postgresql

    - python: 3.8
      env: TOXENV=py36-unit-mysql
    - python: 3.8
      env: TOXENV=py36-unit-postgresql
    - python: 3.8
      env: TOXENV=py36-integration-mysql
    - python: 3.8
      env: TOXENV=py36-integration-postgresql
    - python: 3.8
      env: TOXENV=py37-unit-mysql
    - python: 3.8
      env: TOXENV=py37-unit-postgresql
    - python: 3.8
      env: TOXENV=py37-integration-mysql
    - python: 3.8
      env: TOXENV=py37-integration-postgresql

#  include:
#    - python: 3.6
#      if: branch = master
#    - python: 3.7
#    - python: 3.8

  last_finish: true

before_install:
  - sleep 15
  - mysql -u root -e "CREATE DATABASE pyplanet CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
  - mysql -u root -e "SET PASSWORD FOR 'root'@'localhost' = PASSWORD('')"
  - psql -c "create database pyplanet ENCODING 'UTF8' LC_COLLATE = 'en_US.UTF-8' LC_CTYPE = 'en_US.UTF-8';" -U postgres
  - psql -c "CREATE USER pyplanet WITH PASSWORD 'pyplanet';" -U postgres

install:
  - pip install tox codacy-coverage python-coveralls -U pip
  - tests/_scripts/travis_dedicated_setup.sh

before_script:
  - tests/_scripts/travis_config.sh
  - tests/_scripts/travis_dedicated_start.sh

script:
  - tox -e $TOXENV -- --with-coverage --cover-package=pyplanet --cover-xml --cover-xml-file=coverage.xml

after_success:
  - coveralls --ignore-errors
#  - tests/_scripts/travis_coverage.sh
#  - python-codacy-coverage -r coverage.xml

after_failure:
  - cat dedicated/Logs/*
