global-include *.py
global-include requirements*.txt
include setup*
include AUTHORS
include INSTALL
include LICENSE
include README.md
include CHANGELOG.rst
include MANIFEST.in
include *.rst
graft pyplanet
graft docs
graft tests
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .tox
prune env
prune settings
prune apps
prune docs/build
