global-include *.py
global-include requirements*.txt
include AUTHORS
include INSTALL
include LICENSE
include CHANGELOG.md
include MANIFEST.in
include *.rst
graft pyplanet
graft settings
graft apps
graft docs
graft scripts
graft tests
graft examples
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .tox
