-r requirements.txt

# Documentation Building.
sphinx==2.4.4
sphinx-autobuild==0.7.1
sphinx_rtd_theme==0.4.3
sphinx-intl==2.0.0

# Testing Utilities.
nose
rednose
coverage
asynctest
python-coveralls

# Release Utilities.
twine
bumpversion==0.5.3
