-r requirements.txt

# Documentation Building.
sphinx==4.4.0
sphinx-autobuild==2021.3.14
sphinx_rtd_theme==1.0.0
sphinx-intl==2.0.1

# Testing Utilities.
nose
rednose
coverage
asynctest
python-coveralls

# Release Utilities.
twine
bumpversion==0.5.3
