-r requirements.txt

# Documentation Building.
sphinx
sphinx-autobuild
sphinx_rtd_theme

# Testing Utilities.
pytest>=3.0.7
pytest-cov>=2.4.0
pytest-asyncio>=0.5.0
pytest-sugar
coverage>=3.6
rednose>=0.4.1
