# Base
colorlog==3.1.4

# Templating
Jinja2==2.10.0

# DB/Storage
peewee==2.10.2
peewee-async==0.5.12
aiopg==0.14.0
aiomysql==0.0.16
pymysql==0.8.1
apyio==0.2.0
aiofiles==0.3.2
asyncssh==1.13.2

# Network
aiohttp==2.3.9
requests==2.19.1
urllib3==1.23

# Utils
cached-property==1.4.3
watchdog==0.8.3
pandas==0.23.1
numpy==1.14.5
async_generator==1.9
asyncio_extras==1.3.2
bcrypt==3.1.4
raven==6.9.0
xmltodict==0.11.0
PyYAML==3.13
