{% extends 'core.views/generics/window.xml' %}

  {% block header %}
    <label pos="210 -3.5" size="72 7" text="$o{{ count }} items" textsize="1" textfont="RajdhaniMono" halign="right" valign="center" />
    {{ super() }}
  {% endblock %}

{% block contents %}

  <frame pos="10 0" size="218 6" id="list_header">
          <quad pos="0 0.2" size="220 5.2" z-index="-20" style="Bgs1InRace" substyle="BgCardList"/>
          {% for field in fields %}
          <label pos="{{ field.left }} -2.4" size="{{ field.width }} 4.9" text="$o$fff {{ field.name }}"
                 textsize="1.3" valign="center2" />
          {% endfor %}
  </frame>

<scrollable pos="10 -6" size="218 100" scrollsize="218 {{count*5}}">
  {% for name, setting_value in settings.items() %}
    <frame pos="2 -{{ (loop.index0 * 6) + 2}}">
      <label pos="0 -2.5" size="80 5" text="{{name}}" textsize="1.2" valign="center" />

      {% if types[name] == "bool" %}
       <checkbox pos="80 0" size="30 5" text="" name="{{name}}" checked="setting_value|int"/>
      {% elif types[name] == "string" %}
          <input text="{{setting_value}}" name="{{name}}" pos="80 -2.5" size="80 5" />
      {% elif types[name] == "password" %}
        <inputmasked text="{{setting_value}}" name="{{name}}" pos="80 -2.5" size="80 5" />
      {% elif types[name] == "int" or types[name] == "float" %}
         <input text='{{setting_value|default("0",True)}}' name="{{name}}" pos="80 -2.5" size="80 5" />
      {% else %}
         <label pos="80 -2.5" size="80 5" text="*listed value not supported*" textsize="1" halign="center" valign="center" />
      {% endif %}

      <label pos="190 -2.5" size="60 5" text="{{types[name]}}" textsize="1.2" halign="center" valign="center" />

      {% if loop.index0 % 2 != 0 %}
          <quad pos="0 0" size="220 5" z-index="-20" bgcolor="0003"/>
      {% endif %}
    </frame>
    {% endfor %}
</scrollable>

<confirmbutton text="Save" action="{{id}}__button_save" pos="170 -110" size="24 6" focuscolor="ddd" bgcolor="777" textcolor="fff"/>
<decoratedbutton text="Cancel" action="{{id}}__button_cancel" pos="206 -110" size="24 6" focuscolor="777" bgcolor="fff" textcolor="fff"/>

{% endblock %}

{% block maniascript %}
<script><![CDATA[ {% include 'core.views/generics/scripts/scrollable.Script.Txt' %} ]]></script>
{% endblock %}
