{% extends 'core.views/generics/window.xml' %}

{% block contents %}
  {% call ui.scrollable(20, 0, 200, 100, True, False) %}

    {% for name, setting_value in settings.items() %}
    <frame pos="2 -{{ (loop.index0 * 6) + 2}}">
      <label pos="0 0" size="70 5" text="{{name}}" textsize="1.2" valign="top"/>
      <label pos="70 0" size="40 5" text="{{descriptions[name]}}" textsize="1.2" valign="top"/>

      {% if types[name] == "bool" %}
        {% if setting_value == True %}
          {{ ui.checkbox("", name, 120, 2, 1) }}
        {% elif setting_value == False %}
          {{ ui.checkbox("", name, 120, 2, 0) }}
        {% endif %}
        {% elif types[name] == "string" %}

         <entry pos="120 -2.5" size="60 5" name="{{name}}"
             default="{{ setting_value|default('', True) }}" textsize="1.2" valign="center" focusareacolor1="0003" focusareacolor2="FFF2"/>

      {% elif  types[name] == "int" or types[name] == "float"%}
         <entry pos="120 -2.5" size="60 5" name="{{name}}"
             default="{{ setting_value|default('0', True) }}" textsize="1.2" valign="center" focusareacolor1="0003" focusareacolor2="FFF2"/>

      {% elif setting_value is mapping %}
         {{ ui.dropdown(setting_value, name, 120,0) }}
      {% endif %}
      <label pos="180 0" size="20 5" text="{{types[name]}}" textsize="1.2" valign="top"/>
    </frame>
    {% endfor %}

  {% endcall %}

  {{ ui.confirmbutton("Save", id+"__button_save", 180,-100, 24,6, "090") }}
  {{ ui.decoratedbutton("Cancel", id+"__button_cancel", 202, -100, 24,6, "900") }}

{% endblock %}
